extends ../layout

block content
  .container-fluid.mt-3
    h2.page-title= title
    p
      a.btn.btn-primary(href='/admin/projects/add')
        i.fa.fa-plus-circle
        |  Add new Project

    if projects.length
      table.table.table-striped.table-bordered.table-sortable(
        data-sortable-url='/admin/projects/update-order',
        data-sortable-group='projects'
      )
        thead
          tr
            th(scope='col' class='text-center') Sort
            th(scope='col') Project Name
            th(scope='col') Link
            th(scope='col') Options
        tbody
          each project in projects
            tr(data-id=project._id)
              td.text-center
                i.fa.fa-bars.sortable-handle
              td= project.title
              td
                a(href=`${project.link}` target="_blank") #{project.link}
              td.actions
                a(href=`/admin/projects/${project._id}/edit` class='btn btn-outline-primary' role='button')
                  i.fa.fa-cog(title='Edit', data-toggle='tooltip', data-placement='top')
                  |  Edit
                a(href=`/admin/projects/${project._id}/delete` data-confirm="true" class='btn btn-outline-primary' onclick="return confirm('Are you sure you want to delete this entry?')")
                  i.fa.fa-remove(title='Delete', data-toggle='tooltip', data-placement='top' )
                  |  Delete