extends ./layout

block content
  h2= title
  table.table
    thead
      tr
        th(scope='col') First Name
        th(scope='col') Last Name
        th(scope='col') Email        
        th(scope='col') Start
        th(scope='col') End
        th(scope='col') description
    tbody
    each report in AbsenceList
      tr
        td= report.firstName
        td= report.lastName
        td= report.email
        td= report.Startdate
        td= report.EndDate
        td= report.description.split(' ').slice(0, 25).join(' ')
        //- td
        //-   img(src=`/uploads/absence-reports/${report.photo}`, width=200)
  a(href='/admin/absence-reports/add' class="btn btn-primary btn-lg") Go back to 