extends email-layout

block content
  h2 Absence Report
  
  b From
  p #{user.first_name} #{user.last_name}
    
  b Begin
  p #{moment(report.date_begin).format('YYYY-MM-DD')}

  b End
  p #{moment(report.date_end).format('YYYY-MM-DD')}

  b Message

  pre #{report.message}

  if imageUrl !== null
    p
      b Scan
    p
      a(href=`${imageUrl}` target="_blank") Open in your browser