doctype html
html(lang='en')
  head
    meta(charset="utf-8")

    title= `${title || 'Home'} | Node Friends`

    //- Always force latest IE rendering engine (even in intranet) & Chrome Frame
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    //- Ensure proper rendering and zooming on touch devices
    meta(name="viewport", content="width=device-width, initial-scale=1")

    //- Search Engine Optimization
    meta(name="description", content=`${description  || 'Just a tiny little website of aspiring web developers'}`)
    meta(name="robots", content=`${robots || 'index, follow'}`)

    //- Stylesheets
    link(rel='stylesheet', href='/dist/index.css')

    //- Google fonts
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")


  body(class=(bodyClass || '') data-spy='scroll', data-target='frontnav' )
    block header
      include frontend-partials/navbar

    block messages
      if locals.flashes
        .container
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`alert alert-${category} ${category === 'error' ? 'alert-danger' : ''}`)
                  != message
                  | foobar
                  button.close(type='button', data-dismiss='alert', aria-label='Close')
                    span(aria-hidden='true') ×

    block main
    
    block footer
      include frontend-partials/footer

    script(src="/dist/index.bundle.js")

    block scripts
      // placeholder for additional scripts on other pages