extends layout

block main
  .container
    .section
      h2= student.first_name+' '+student.last_name
      .row
        .col-12.col-lg-6
          .student-photo
            if (student.photo)
              img.img-fluid(src=`/uploads/users/photo/${student.photo}`)
            else
              != helpers.placeholderImage(500, 260, 'user')
        .col-12.col-lg-5.text-justify
          p
            if student.bio
              != student.bio.replace(/\r\n/g, '<br>').replace(/\n/g, '<br>')
          a.btn.btn-success(href=student.website target="_blank") Visit My Portfolio

    .section#favorite-tech
      h2 My Favourite Tech
      .d-flex
        .row
          each technology in technologies
            .col-12.col-md-6.col-lg-4
              .card
                .card-body.row
                    i(class=`fa fa-${technology.icon} fa-2x col-2`)
                    h5.card-title.col-10
                      | #{technology.title}
                      .card-subtitle= technology.subtitle
                    p.card-text.col-12.text-justify= technology.description

    .section#projects
      h2 My Projects
      .row
        each project in projects
          .col-6.col-md-6.col-lg-4
            a.card(href=project.link target="_blank", title="Click to open in a new tab!")
              img.rounded(src=`/uploads/projects/${project.image}`)
              h5= project.title
              p= project.description