extends layout

block main
  .container
    .section
      h2= student.first_name+' '+student.last_name
      .container-fluid.d-flex.justify-content-space-center
        .row
          .col-12.col-lg-6
            img.img-fluid(src=`/uploads/users/photo/${student.photo}`)
          .col-12.col-lg-5.text-justify
            p= student.bio
            a.btn.btn-success(href= student.website) Visit My Portfolio

    .section
      h2 My Favourite Tech
      .container-fluid.d-flex.justify-content-space-around
        .row
          each technology in technologies
            .card(style="width: 18rem")
              .card-body.row
                  i(class=`fa fa-${technology.icon} fa-2x col-2`)
                  h5.card-title.col-10= technology.name
                  p.card-text.col-12.text-justify= technology.description

    .section
      h2 My Projects
      .container-fluid.d-flex
        .container.mx-auto.justify-content-center
          .row
            each project in projects
              a(class= "card col-6 col-lg-3" href= project.link target="_blank")
                .card
                  img.img-fluid.rounded(src=`/uploads/projects/${project.image}`)
                h5= project.title
                p= project.description