nav#nav-main.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container
    a.navbar-brand(href="/")
      img#logo-image-white(src=`/images/node-friends-logo-white.png` alt="Node Friends")
      img#logo-image-green.hidden(src=`/images/node-friends-logo.png` alt="Node Friends")
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#nav-main-content"  aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    
    .collapse.navbar-collapse#nav-main-content
      ul.navbar-nav.ml-auto
        each item in helpers.navigationMain
          li.nav-item
            if (currentPath === '/')
              a.nav-link(href=`${item.href}`) #{item.name}
            else
              a.nav-link(href=`${baseUrl}${item.href}`) #{item.name}
