.container
  #the-team
    h2.dash The Team
    .container-fluid.d-flex
      .row.justify-content-around
        each student in students 
          .col-6.col-md-3
            a(href=`/profile/${student.slug}`)
              if student.avatar
                img.frame.img-fluid(src=`/uploads/users/avatar/${student.avatar}` width='247' alt=`Photo: ${student.first_name} ${student.last_name} (Student)`)
              else 
                != helpers.placeholderImage(247, 247, 'user-circle-o')
              p.text-center= `${student.first_name} ${student.last_name}`

        each teacher in teachers 
          .col-6.col-md-3
            a(href=`/profile/${teacher.slug}`)
              if teacher.avatar
                img.frame.img-fluid(src=`/uploads/users/avatar/${teacher.avatar}` width='247' alt=`Photo: ${teacher.first_name} ${teacher.last_name} (Coach)`)
              else 
                != helpers.placeholderImage(247, 247, 'user-circle-o')
              p.text-center= `${teacher.first_name} ${teacher.last_name} (Coach)`