extends ../layout

block content
	.col-12.col-sm-10.col-md-9.col-lg-6
		h2.text-center EDIT PROFILE
		br
		form#project-form.container(method='POST', enctype="multipart/form-data")
			.row
				.col-7
					h4 Edit Avatar Image
					p
						img(src=`/uploads/users/avatar/${profile.avatar || 'avatar.png'}`, height=150)

					.form-group
						label(for="avatar")
						.upload-btn-wrapper 
							button.the-button#avatar-button Choose File
							input(
								type="file",
								name="avatar",
								id="avatar",
								accept="image/gif, image/png, image/jpeg"
							)
				.col-5
					h4 Edit Profile Image
					p
						img(src=`/uploads/users/photo/${profile.photo || 'photo.png'}`, height=150)

					.form-group
						label(for="photo")
						.upload-btn-wrapper 
							button.the-button#photo-button Choose File
							input(
								type="file",
								name="photo",
								id="photo",
								accept="image/gif, image/png, image/jpeg"
							)

			.form-group
				label(for='webpage') Webpage
				input#webpage.form-control(method='POST',type='text', name='webpage', value=(profile.webpage || ''))

			.form-group
				label(for='bio') Biography
				textarea#exampleFormControlTextarea1.form-control(name='bio', rows='6')=(profile.bio || '')

			.form-group
				button.btn.btn-success.btn-block(type='submit') Update Profile

		script(src="/javascript/showFileName.js")