extends ../layout
block content

  h1 Favorite Technologies

  table.table.table-striped.table-sortable(
    data-sortable-url="/admin/tech-favorites/update-order",
    data-sortable-group="favorites"
  )
    thead
      tr
        th(scope='col' class="text-center") Sort
        th(scope='col') Title
        th(scope='col') Subtitle
        th(scope='col') Icon
        th(scope='col') Description
        th(scope='col')
    tbody
      each favorite in techFavorites
        tr(data-id=favorite._id)
          td.text-center
            i.fa.fa-bars.sortable-handle
          td= favorite.title
          td= favorite.subtitle
          td
            i(class=`fa fa-${favorite.icon}` aria-hidden='true')
          td= favorite.description
          td
            a(href=`/admin/tech-favorites/${favorite._id}/edit` class='btn btn-outline-primary' role='button')
              i.fa.fa-cog 
              |  Edit

  a(href='/admin/tech-favorites/add' class='btn btn-primary' role='button')
    i.fa.fa-plus-circle
    |  Add a Technology